<div class="unidades">

    <div class="logo">
        <div class="container-fluid">
            

                <div class="row ">
                <div *ngFor="let name of Devices" align="center">
                        
                            <div class=" row col-md-12">
                                    
                                    <div *ngIf="count === 2" class="col-md-2"> </div>
                                    <div class="col-md-2"></div>
                    <p align="center" class="col-md-3" style="cursor:pointer">
                        <img style="width:110px;" routerLink="/Values>" src="assets/images/GMM.png" alt="">
                    </p>
                    <div class="col-md-1"></div>
                    
                    <p align="center" class="col-md-3 letter" style="cursor:pointer" routerLink="/Systems/Devices/Values" (click)="onSelect(name)">{{  name.name}}</p>
                    <div *ngIf="name.name === 'GMM1'" class="col-md-1"></div>
                    <div *ngIf="name.name === 'GMM'" class="col-md-1"></div>
                    <div *ngIf="name.name === 'GMM2'" class="col-md-1"></div>
                    <div *ngIf="name.name === 'GMM3'" class="col-md-1"></div>
                    <div *ngIf="name.name === 'GMM4'" class="col-md-1"></div>
                    <div *ngIf="count != 2" class="col-md-2"></div>
                    
                </div>
                <div class="blankspace3"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="count === 2" class="blankspace5"> </div>
<div *ngIf="count === 2" class="blankspace5"> </div>
<div class="blankspace5"> </div>
