.col-md-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #909497  ;
}

.blankspace5{
    height: 60px ;
}

.col-md-1:hover{
    text-decoration:underline;
}
