<div class="unidades">

    <div class="logo">
        <div class="container-fluid">
            <div class="row col-md-12 ">


                <div *ngFor="let filtrados of concatenadofilter">
                    <p align="center" class="col-md-3" style="cursor:pointer">
                        <img style="width:60%;" routerLink="/Values>" src="assets/images/GMM.png" alt="">
                    </p>
                    <p align="center" class="col-md-2" style="cursor:pointer" routerLink="/Systems/Devices/Values" (click)="onSelect(data)">{{filtrados.deviceName}}</p>
                    <div class="col-md-1 "> </div>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="blankspace5"> </div>
<div class="blankspace5"></div>