<div class="unidades">

    <div class="logo">
        <div class="container-fluid">
            

                <div class="row ">
                <div *ngFor="let name of deviNames" align="center">
                        
                            <div class=" row col-md-12">
                                    <div class="col-md-4"></div>
                    <p align="center" class="col-md-3" style="cursor:pointer">
                        <img style="width:150%;" routerLink="/Values>" src="assets/images/GMM.png" alt="">
                    </p>
                    <div class="col-md-1"></div>
                    <p align="center" class="col-md-1 letter" style="cursor:pointer" routerLink="/Systems/Devices/Values" (click)="onSelect(name)">{{name.deviceName}}</p>
                    <div class="col-md-3"></div>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="blankspace5"> </div>
<div class="blankspace5"></div>