.bluespace{
          
    height: 80px ;
    background-color: #0057a3!important; 
    
}

.bg-light{
    background-color: #E5E7E9   !important;
    height: 40px ;
}

.navbar-nav{
    color: black !important;
    font-size: 25px;
}