<div class="fondo1">
  <app-general-header></app-general-header>
  <div class="row">
      <div class="col-md-3"></div>
  <p style="size: 25px;" align="center" class="Name col-md-4">{{projectName}}</p> 
  <div class="col-md-5"></div>
  </div>
  <div class="blankspace"> </div>
  
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="/Main">Systems</a>
        </li>
       
      </ul>
      <div class="blankspace"> </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Activated</th>
        <th scope="col">Name</th>
        <th scope="col">Suspended</th>
        
      </tr>
    </thead>
    
    <tbody>
      
      <tr *ngFor="let data of table" >
        <th scope="row"  class="img"  *ngIf="data.activated === true" ><img  style="width:2%; "  style="height:10%" src="assets\images\Boton_verde.png" alt="activated"></th>
        <td style="cursor:pointer"  class="cursor" routerLink="/Units">{{data.name}}</td>
        <td scope="row" class="img"  *ngIf="data.suspended === false"><img  style="width:2%; "  style="height:5%" src="assets\images\Boton-rojo.png" alt="activated"></td>
        
      </tr>
    
    </tbody>
  
  </table>
  <div class="blankspace2"> </div>
  </div>

