<app-general-header></app-general-header>

<div class="blankspace"> </div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-9">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Systems</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Alarms</a>
  </li>
</ul>

<div class="blankspace"> </div>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <div class="col-md-1"></div>
      <div class="col-md-10">
<table class="table">
  <caption>Showing 1 to 1 of 1 </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Systems</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Variable</td>
      <td>Variable 2</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Variable 3</td>
      <td> Varible 4</td>
     
    </tr>
  </tbody>
</table>
</div>
<div class="col-md-1"></div>
</div>
</div>
</div>

</div>

<div class="col-md-1"></div>
</div>
</div>
<div class="blankspace2"> </div>
