.Unit{
    height: 50px;
    padding-left: 250px;
    background-color:  #F2F3F4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #5D6D7E    ;
    
}



.blankspace4{
    height: 150px;
}

.col-md-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #909497  ;
}
.nav-tabs{
    background-color: #F2F3F4;
    padding-left: 15px !important;
    
}

.Name{
    padding-left: 60px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: #566573  ;

}

@media (min-width:900px)  {
   .Name{
    font-size: 25px;
   }
   .nav-tabs{
    font-size: 15px;
   }
   .blankspace3{
    height: 80px;
}
}

@media (min-width:801px)  {
    .Name{
        font-size: 25px;
       }
       .nav-tabs{
        font-size: 15px;
       }
       .blankspace3{
        height: 80px;
    }
}
@media (max-width:800px)  {
   
    .Name{
        font-size: 22px;
       }
       .nav-tabs{
        font-size: 15px;
       }
       .blankspace3{
        height: 40px;
    }
}
@media (max-width:468px)  {
    .Name{
        font-size: 15px;
       }
       .nav-tabs{
        font-size: 12px;
       }
       .blankspace3{
        height: 40px;
    }
}