<div class="fondo1">
  <app-general-header></app-general-header>
  <div class="row">
      <div class="col-md-3"></div>
  <p style="size: 25px;" align="center" class="Name col-md-4">DEVICES</p> 
  <div class="col-md-5"></div>
</div>
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#" routerLink="/Systems">Back</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" >Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#" routerLink="/Systems/Alarms">Alarms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#" routerLink="/Systems/AlarmsHistory">Alarms History</a>
      </li>
  </ul>

  
<div class="blankspace3"> </div>

<app-numunits></app-numunits>
</div>

