<div class="fondo1">
        <app-general-header></app-general-header>
        <p style="size: 25px;" align="center" class="Name">DEVICES</p> 
        
        
        <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-7">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " href="#" routerLink="/Main">Back</a>
          </li>
        </ul>
      
        <div class="blankspace"> </div>
<div class="blankspace3"> </div>

<app-numunits></app-numunits>
</div>
