
<div class="container-fluid bg-light">
    <div class="row col-md-12 col-sm-12 col-xs-12">
     
        <p align="right" class=" col-xs-10 col-sm-10 col-md-11"><a target="_blank" href="https://www.facebook.com/GuentnerMX/"><img  src="assets/images/facebook.png" alt="" class="img-icon"></a></p><p align="left" class=" col-xs-2 col-sm-2 col-md-1 title "><a target="_blank" href="https://www.facebook.com/GuentnerMX/" style="color: white">Facebook</a></p> 
    </div>    

    <div class="row col-md-12 col-sm-12 col-xs-12">
        <p align="right" class=" col-xs-10 col-sm-10 col-md-11 "><img  src="assets/images/telefono.png"style="cursor:pointer" routerLink="/Service" alt="" class="img-icon"></p><p  align="left" routerLink="/Service" style="cursor:pointer"  class=" col-xs-2 col-sm-2 col-md-1 title ">Contact</p> 
    </div> 

    </div>
<div class="copyright">
    <p align="right"> &copy; 2018 Copyright Guntner de Mexico</p>
</div> 





