
<div class="container-fluid bg-light">
    <div class="row">
             <p align="right" class="col-md-11"><a target="_blank" href="https://www.facebook.com/GuentnerMX/"><img  src="assets/images/facebook.png" alt="" class="img-icon"></a></p><p align="left" class="col-md-1"><a target="_blank" href="https://www.facebook.com/GuentnerMX/" style="color: white">Facebook</a></p> 
             <p align="right" class="col-md-11"><img src="assets/images/telefono.png"style="cursor:pointer" routerLink="/Service" alt="" class="img-icon"></p><p align="left" routerLink="/Service" style="cursor:pointer"  class="col-md-1">Contact</p> 
    </div>        
    </div>
<div class="copyright">
    <p align="right"> &copy; 2018 Copyright Guntner de Mexico</p>
</div> 





