
<div class="container-fluid bg-light">

     
        
    <p align="right" class="title cursor " style="cursor:pointer; padding-right: 50px; padding-bottom: 0px; padding-top: 10px"   ><img  src="assets/images/facebook.png" alt="" class="img-icon">  <a href="https://www.facebook.com/GuentnerMX/" style="color: white" target="_blank">Facebook</a> </p>

    <p align="right" class="title cursor"   style="cursor:pointer; padding-right: 50px; padding-bottom: 0px; " ><img  src="assets/images/telefono.png"  alt="" class="img-icon"> &nbsp; <a routerLink="/Service" style="color: white" >Contact</a></p>
    
    
    </div>





  <div class="copyright">
    <p align="right"> &copy; 2018 Copyright Guntner de Mexico</p>
</div> 
