.copyright{
    
    padding-right: 20px !important;
    padding-bottom: 0px !important;
}
.cursor:hover{
    text-decoration:underline;
}


@media (min-width:900px)  {
    .img-icon{
        height: 22px;
    }
    .copyright{
        font-size: 15px;
    }
    .title{
        font-size: 15px ;
      
     }
     .bg-light{
         height: 90px;
     }
}


@media (min-width:768px)  {
    .img-icon{
        height: 25px;
    }
    .title{
       font-size: 15px;
     
    }
    .copyright{
        font-size: 15px;
    }
    .bg-light{
        height: 90px;
    }
}
@media (max-width:767px)  {
    .img-icon{
        height: 15px;
    }
    .title{
        font-size: 12px;
        
     }
     .copyright{
        font-size: 10px;
    }
    .bg-light{
        height: 70px;
    }
}
@media (max-width:468px)  {
    .img-icon{
        height: 15px;
    }
    .title{
        font-size: 12px ;
      
     }
     .copyright{
        font-size: 10px;
    }
  
    .bg-light{
        height: 70px;
    }
}