
.blankspaceheader{
    height: 45px ;
}

.bg-light{
    margin: 0px;
     padding-left: 15px;
    /*font-size: 245%; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    padding: 0%;
    margin: 0%;
    /* font-size: 300%; */
    color: #909192  ;
    font-family: Arial, Helvetica, sans-serif;
    
}

@media (min-width:900px)  {
    .bg-light{
       font-size: 105px;
    }
    .titule{
        font-size: 60px;
    }
    .img{
       width: 30%;
    }
    .blankspace5{
        height: 50px ;
    }
    .img{
        width:10px
    }
    .toped{
        font-size: 40px;
    }
}
@media (min-width: 768px)  {
    .bg-light{
       font-size: 50px;
    }
    .titule{
        font-size: 50px;
    }
    .toped{
        font-size: 40px;
    }
}
@media (max-width: 767px)  {
    .navbar{
       font-size: 10px;
    }
    .titule{
        font-size: 60px;
    }
    .toped{
        font-size: 25px;
    }
    .bg-light{
        height: 70px;
    }
    .blankspace{
        height: 30px;
    }
}
@media (max-width: 480px)  {
    .navbar{
       font-size: 10px;
    }
    .titule{
        font-size: 20px;
    }
    .toped{
        font-size: 25px;
    }
    .bg-light{
        height: 70px;
    }
    .blankspace{
        height: 30px;
    }
}