<div class="container-fluid">
<nav class="navbar navbar-light bg-light fixed-top toped">
  <p>Güntner Monitoring </p>
</nav>
<div class="blankspaceheader"></div>
<div class="blankspace"> </div>
<div class="logo">
     <div class="row">
     
      <h1 align="center" class="col-xs-6 col-sm-7 col-md-9 titule">¡Access your field equipment online!</h1>
         <p align="right" class="col-xs-1 col-sm-2 col-md-3 "><img style="width:25%;"  src="assets/images/Guntner-logo.png" alt=""></p> 
      
    </div>
</div>
</div>
<div class="blankspace5"> </div>
