.Letter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-nav{
color: white !important;

}
    




.col-md-9{
    font-family: 'arial'
}


@media (min-width:900px)  {
    .Letter{
        font-size: 240%;
        padding-top: 15px;
        padding-left: 15px;
    }
    .navbar-nav{
  font-size: 150%; 
  padding: 2px;
    }
    .col-md-3{
        padding-right: 15px !important;
    }
    .blankspace{
        height: 5px !important;
    }
    .bg-light{
        height: 60px !important;
        color: white !important;
    }
}

@media (min-width:768px)  {
    .Letter{
        font-size:190%;
        padding-top: 15px;
        padding-left: 15px;
    }
    .col-md-3{
        padding-right: 15px !important;
    }
    .blankspace{
        height: 5px !important;
    }
    .bg-light{
        height: 60px !important;
        color: white !important;
    }
}
@media (max-width:767px)  {
    
    .Letter{
        font-size: 20px;
        padding-top: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-right: 5px;
        padding-bottom: 0px
    }
    .navbar-nav{
        font-size: 12px;
        padding-top: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-right: 5px;
        padding-bottom: 0px
    }
    
    .blankspace{
        height: 1px !important;
    }
    .bg-light{
        height: 70px !important;
        color: white !important;
    }
}
@media (max-width:468px)  {
    
    .Letter{
        font-size: 20px;
        padding-top: 0px;
        padding-left: 5px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-bottom: 0px
    }
    .navbar-nav{
        font-size: 12px;
        padding-top: 0px;
        padding-left: 5px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-bottom: 0px
    }
    .blankspace{
        height: 1px !important;
    }
    .bg-light{
        height: 70px !important;
        color: white !important;
    }
}