<app-contact></app-contact>
<div class="Servicio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <p align="rigth">
          <img style="width:110%;" src="assets/images/bandera.png" alt="">
        </p>
      </div>
      <div align="left" class="col-md-3">
        <p>Güntner de México, S.A. de C.V.<br>
          <a href="https://www.google.com/maps/dir//25.773434,-100.150595" target="_blank">Güntner Servicios<br>
             Av. Rogelio Gonzalez. Caballero #1000 STIVA Aeropuerto Apodaca, N.L., MÉXICO </a>
        </p>
        <p>
          Teléfono: +52 (81) 8156 0600 Ext. 163<br> Email:
          <a href="mailto: service@guentner.com.mx "> service@guentner.com.mx </a>
          <a href="http://www.guentner.com.mx/" target="_blank"> www.guentner.com.mx</a>
        </p>
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
</div>

<div class="blankspace"></div>