<app-contact></app-contact>

<div class="Servicio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <p align="rigth">
          <img class="img" src="assets/images/bandera.png" alt="">
        </p>
      </div>
      <div align="left" class="col-md-3">
        <p>Güntner de México, S.A. de C.V.
          <br>
          <a href="https://www.google.com/maps/dir//25.773434,-100.150595" target="_blank">Oficina de Ventas y Fábrica
            <br> Av. Rogelio Gonzalez. Caballero #1000<br> STIVA Aeropuerto Apodaca, N.L.,<br> MÉXICO </a>
        </p>
        <p>
          Teléfono: +52 (81) 8156 0600 Ext. 163
          <br> Email:
          <a href="mailto: ventas.mx@guentner.com"> ventas.mx@guentner.com </a><br>
          <a href="http://www.guentner.com.mx/" target="_blank"> www.guentner.com.mx</a>
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <p align="rigth">
          <img class="img" src="assets/images/bandera.png" alt="">
        </p>
      </div>
      <div align="left" class="col-md-3">
        <p>Güntner de México, S.A. de C.V.
          <br>
          <a href="https://www.google.com/maps/dir//19.367046,-99.261095" target="_blank">Oficina de Ventas Cd. de México
            <br> German Center, Desp. 4-3-03<br> Av. Santa Fe 170, Lomas de Santa Fe <br>Álvaro Obregón, CP. 01210, Cd. de México <br>MÉXICO
          </a>
        </p>
        <p>
          Teléfono: +52 55 5020 5180
          <br> Email:
          <a href="mailto: ventas.mx@guentner.com"> ventas.mx@guentner.com </a><br>
          <a href="http://www.guentner.com.mx/" target="_blank"> www.guentner.com.mx</a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <p>
    <br>
  </p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <p align="rigth">
          <img class="img" src="assets/images/bandera.png" alt="">
        </p>
      </div>
      <div align="left" class="col-md-3">
        <p>Güntner de México, S.A. de C.V.
          <br>
          <a href="https://www.google.com/maps/dir//20.708726,-103.307808" target="_blank">Oficina de Ventas Guadalajara
            <br> Calle Justicia No. 773<br> Col. La Esperanza Guadalajara,<br> Jal. C.P. 44300 MÉXICO
          </a>
        </p>
        <p>
          Teléfono: +52 33 3342 4947<br>
          Móvil: +52 (33) 3815 8393
          <br> Email:
          <a href="mailto: r.gdl@guentner.com.mx"> r.gdl@guentner.com.mx </a><br>
          <a href="http://www.guentner.com.mx/" target="_blank"> www.guentner.com.mx</a>
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="blankspace"></div>