.valores{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #566573;
}
.border{
    padding-left:  10px;
    padding-bottom: 1px;
 
}

.texto{
    color: black;
}
@media (min-width:1100px)  {
  .valores{
      font-size: 100%;
  }
  .input-group{

    font-size: 15px;
}
.blankspace2{
    height: 100px;
}
   }
   
   @media (min-width:768px)  {
    .valores{
        font-size: 100%;
    }
    .input-group{

        font-size: 15px;
    }
    .blankspace2{
        height: 100px;
    }
   }
   @media (max-width:767px)  {
    .valores{
        font-size: 80%;
    } 
    .input-group{

        font-size: 9px;
    }
    .blankspace2{
        height: 50px;
    }
   
   }
   @media (max-width:468px)  {
    .valores{
        font-size: 80%;
    } 
    .input-group{

        font-size: 9px;
    }
    .blankspace2{
        height: 50px;
    }
    
   }