.valores{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    color: #566573;
}
.border{
    padding-left:  10px;
    padding-bottom: 1px;
 
}

.input-group{

    font-size: 25px;
}
.blankspace2{
    height: 40px;
}

.texto{
    color: black;
}