<div class="fondo1">
    <app-general-header></app-general-header>
    
    <Div class=" Unit container-fluid">
    <p>Unit 1</p>
    </Div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
          <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">GMM</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">GHM</a>
          </li>-->
        </ul>
        <div class="blankspace"> </div>
        <app-values></app-values>

    <div class="blankspace"> </div>


</div>