<div class="fondo1">
  <app-general-header></app-general-header>
  
  <div class="row">
      <div class="col-md-3"></div>
  <p style="size: 25px;" align="center" class="Unit col-md-4">{{nameDevice}}</p> 
  <div class="col-md-5"></div>
</div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
        <div class="col-md-8">
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link "  href="#" routerLink="/Systems/Devices">Back</a>
            </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Values</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/Systems/Devices/Datalog">DataLog</a>
        </li>
      </ul>
      <div class="blankspace"> </div>
      <app-values></app-values>

  <div class="blankspace"> </div>

</div>

