<div class="fondo1">
  <app-general-header></app-general-header>
  <div class="row">
      <div class="col-md-3"></div>
  <p style="size: 25px;" align="center" class="Name col-md-4">DATA LOG FOR DAY</p> 
  <div class="col-md-5"></div>
</div>
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#" routerLink="/Systems/Devices/Values">Back</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#"  routerLink="/Systems/Devices/AllDatalogs" >All datalog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active " href="#" >For Day</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " href="#" routerLink="/Systems/Devices/DatalogHours">For Hours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#" routerLink="/Systems/Devices/Graphics">Graphics</a>
          </li>
  </ul>

  <div class="blankspace"> </div>

  <form class="value"> 
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" (change)="onChange($event.target.value)" >
          <option selected >Choose a data</option> 
          <option value="{{value.id}}" *ngFor="let value of listdata"   >{{value.name}}</option>       
        </select>
      </div>
    </div>
  </form>

  
  <div class="blankspace"> </div>

 <p class="fecha" >Start Date and Hour: <input type="date" name="fecha" step="1" min="2018-01-01" max="2019-12-31" value="2018-05-29" [(ngModel)]="datalog.startDate"></p> 
 <p class="fecha">End   Date and Hour:  <input type="date" name="fecha" step="1" min="2018-01-01" max="2019-12-31" value="2018-05-29" [(ngModel)]="datalog.endDate"></p> 
 <button type="button" class="btn btn-secondary btn-sm" (click)="getDay(valueid)">OK</button>
 <div class="blankspace"> </div>
  
 <table class="table table-bordered ">
 <thead>
   <tr class="name">
      <th scope="col">Time</th>
     <th scope="col">Average value</th>
     <th scope="col">Maximum value</th>
     <th scope="col">Minimum value</th>
     <th scope="col">Number of samples</th>
     <th scope="col">Standard deviation</th>
    
     
   </tr>
 </thead>
 <tbody>
   <tr *ngFor="let data of listdata2 | paginate: { itemsPerPage: 10, currentPage: p }">

      <td>{{data.timestamp |date:"MM/dd/yyyy 'at' h:mma"}}</td>
     <td>{{data.avgValue | slice:0:7 }}</td>
     <td>{{data.maxValue }}</td>
     <td>{{data.minValue }}</td>
     <td>{{data.nrOfSamples }}</td>
     <td>{{data.stdDeviation |slice:0:6 }}</td>
     
   </tr>
   <tr>
 </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<button type="button" (click)="tableToExcel('testTable1', 'Datalog for Day')" class="btn btn-info  btn-lg" >Download data as file</button>
   
   <table style="display: none" class="table table-bordered " id="testTable1">
     <thead>
        <tr class="name">
            <th scope="col">Time</th>
           <th scope="col">Average value</th>
           <th scope="col">Maximum value</th>
           <th scope="col">Minimum value</th>
           <th scope="col">Number of samples</th>
           <th scope="col">Standard deviation</th>  
         </tr>
       </thead>
       <tbody>
          <tr *ngFor="let data of listdata2 ">
       
             <td>{{data.timestamp |date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <td>{{data.avgValue | slice:0:7 }}</td>
            <td>{{data.maxValue }}</td>
            <td>{{data.minValue }}</td>
            <td>{{data.nrOfSamples }}</td>
            <td>{{data.stdDeviation |slice:0:6 }}</td>
            
          </tr>
          <tr>
        </tbody>
       </table>

<div class="blankspace2"> </div>
