.nav-tabs{
    background-color: #F2F3F4;
    padding-left: 15px !important;
    
}
.Name{
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #566573  ;

}

.table{
    font-family: Arial, Helvetica, sans-serif;
    color:#283747;
}

.fecha{
   
    font-family: Arial, Helvetica, sans-serif;
    color:#17202A  ;
}
.name{
    background-color: #868989;
}

.value{
   color: #641E16; 
}

@media (min-width:1100px)  {
    .Name{
     font-size: 20px;
    }
    .nav-tabs{
     font-size: 22px;
    }
    .table{
     font-size: 13px;
    }
    .blankspace2{
        height: 130px ;
    }
    .fecha{
        font-size: 13px;
    }
   }
   
   @media (min-width:768px)  {
     .Name{
         font-size: 20px;
        }
        .nav-tabs{
         font-size: 15px;
        }
        .table{
         font-size: 13px;
        }
        .blankspace2{
            height: 80px ;
        }
        .fecha{
            font-size: 13px;
        }
        .boton{
            font-size: 13px;
        }
   }
   @media (max-width:767px)  {
     .Name{
         font-size: 15px;
        }
        .nav-tabs{
         font-size: 13px;
        }
        .table{
         font-size: 10px;
        }
        .boton{
            font-size: 7px;
        }
        .blankspace2{
            height: 40px ;
        }
        .fecha{
            font-size: 15px;
        }
        .blankspace{
            height: 20px;
        }
        
   
   }
   @media (max-width:468px)  {
     
     .Name{
         font-size: 15px;
        }
        .nav-tabs{
         font-size: 13px;
        }
        .table{
         font-size: 7px;
        }
        .boton{
         font-size: 10px;
     }
     .blankspace2{
        height: 40px ;
    }
    .fecha{
        font-size: 10px;
    }
    .blankspace{
        height: 20px;
    }
   }