<div class="fondo1">
  <app-general-header></app-general-header>
  <div class="row">
      <div class="col-md-3"></div>
  <p style="size: 25px;" align="center" class="Name col-md-4">ALL DATA LOG</p> 
  <div class="col-md-5"></div>
</div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link " href="#" routerLink="/Systems/Devices/Values">Back</a></li>
    <li class="nav-item"><a class="nav-link active " href="#"  >All datalog</a></li>
    <li class="nav-item"><a class="nav-link  " href="#" routerLink="/Systems/Devices/Datalog" >For Day</a></li>
    <li class="nav-item"><a class="nav-link " href="#" routerLink="/Systems/Devices/DatalogHours">For Hours</a></li>
   <li class="nav-item"><a class="nav-link " href="#" routerLink="/Systems/Devices/Graphics">Graphics</a> </li>
  </ul>

  <div class="blankspace"> </div>
  <div class="hola">
    <div class="table-responsive">
        <table class="table" >
            <thead>
              <tr class="name">
               <th  class="columna" scope="col">Data time</th>
                <th scope="col" class="columna" *ngFor="let data of fecha" >{{data.time |date:"MM/dd/yyyy"}}</th>  
              </tr>
            </thead>
            <tbody>
             
              <tr *ngFor="let data of listID | paginate: { itemsPerPage: 8, currentPage: p } ">
                 <th style="width:auto;" class="columna" scope="row">({{data.device}}) {{data.name}}</th>
                <td *ngFor="let datatimes of data.data" align="center">{{datatimes.maxValue}}</td>  
              </tr>
              
            </tbody>
           
           </table>
           
    </div>
 
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div class="blankspace"> </div>
<button type="button" (click)="tableToExcel('testTable1', 'All datalog')" class="btn btn-info  btn-lg">Download data as file</button>

<table class="table" style="display: none" class="table table-bordered " id="testTable1" >
    <thead>
      <tr class="name">
       <th  class="columna" scope="col">Data time</th>
        <th scope="col" class="columna" *ngFor="let data of fecha" >{{data.time |date:"MM/dd/yyyy"}}</th>  
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let data of listID | paginate: { itemsPerPage: 8, currentPage: p } ">
         <th style="width:auto;" class="columna" scope="row">({{data.device}}) {{data.name}}</th>
        <td *ngFor="let datatimes of data.data" align="center">{{datatimes.maxValue}}</td>  
      </tr>
      
    </tbody>
   
   </table>
<div class="blankspace"> </div>


