<div class="fondo1">
  <app-general-header></app-general-header>

  <div class="row">
    <div class="col-md-3"></div>
    <p style="size: 25px;" align="center" class="Name col-md-4">GRAPHICS</p>
    <div class="col-md-5"></div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " href="#" routerLink="/Systems/Devices">Back</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" routerLink="/Systems/Devices/AllDatalogs">All datalog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="#" routerLink="/Systems/Devices/Datalog">For Day</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/Systems/Devices/DatalogHours">For Hours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#" routerLink="/Systems/Devices/Graphics">Graphics</a>
          </li>
        </ul>

        <div class="blankspace"> </div>

        <div class="row ">

          <form class="list">
            <div class="form-row align-items-center  ">
              
              <div class="col-auto my-1">
                <select (change)="onChange($event.target.value)"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option [value]="value.id" *ngFor="let value of listdata" >({{value.deviceName}}) {{value.name}}</option>
                </select>
              </div>
              <br/>
              <!-- <p class=" vs align-center">&nbsp; &nbsp;  VS &nbsp; &nbsp; </p> -->
              <div class="col-auto my-1">
                <select (change)="onChange2($event.target.value)"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option [value]="value2.id" *ngFor="let value2 of listdata"  >({{value2.deviceName}}) {{value2.name}} </option>
                </select>
              </div>
              <div class="col-auto my-1">
                  <select (change)="onChange3($event.target.value)"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option [value]="value3.id" *ngFor="let value3 of listdata"  >({{value3.deviceName}}) {{value3.name}} </option>
                  </select>
                </div>
                <div class="col-md-2"></div>
                <div class="col-auto my-1">
                    <select (change)="onChange4($event.target.value)"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option [value]="value4.id" *ngFor="let value4 of listdata"  >({{value4.deviceName}}) {{value4.name}} </option>
                    </select>
                  </div>
                  <div class="col-auto my-1">
                      <select (change)="onChange5($event.target.value)"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option [value]="value5.id" *ngFor="let value5 of listdata"  >({{value5.deviceName}}) {{value5.name}} </option>
                      </select>
                    </div>
            </div>
          </form>
        </div>

        <div class="blankspace"> </div>
        <p class="fecha">Start Date and Hour:
          <input type="date" name="fecha" step="1" min="2018-01-01" max="2019-12-31" (keyup.enter)="onEnter(valueid, value2id)"
            [(ngModel)]="graphics.startDate">
        </p>
        <p class="fecha">End Date and Hour:
          <input type="date" name="fecha" step="1" min="2018-01-01" max="2019-12-31" (keyup.enter)="onEnter(valueid, value2id)"
            [(ngModel)]="graphics.endDate">
        </p>
        <button type="button" class="btn btn-secondary btn-sm" (click)="getDay(valueid, value2id)">OK</button>
        <div class="blankspace"> </div>

        <div id="line-chart"></div>
        <div class="col-md-1"></div>
        <div class="blankspace"> </div>  <div class="blankspace"> </div>