.valores{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #566573;
}
.border{
    padding: 5px;
    padding-bottom: 1px;
 
}
.texto{
    color: black;
}
.blankspace2{
    height: 40px;
}