/* You can add global styles to this file, and also import other style files */

.bg-light{
    background-color: #0057a3!important; 
    color:white !important;
    height: 80px ;
} 

.blankspace{
    height: 50px ;
}

.Servicio{
    font-size: 13px !important;
}

.fondo{
    background-color: #EDEEEE;
}
.fondo1{
    background-color: #fefefa   ;
}
@media (min-width:900px)  {
    .bg-light{
        padding: 1px;
        padding-right: 20px;
    }
}

@media (min-width:768px)  {
    .bg-light{
        padding: 0px;
        padding-right: 20px !important;
    }
}
@media (max-width:767px)  {
    .bg-light{
        padding: 0px;
        padding-right: 0px !important;
    }
}
@media (max-width:468px)  {
    .bg-light{
        padding: 0px;
        padding-right: 0px !important;
    }
}