.nav-tabs{
    background-color: #F2F3F4;
    padding-left: 15px !important;
    font-size: 22px;
}

.blankspace2{
    height: 250px ;
}

.table{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#283747;
}

.imgfalse{
    background-color:#F35F68;
}

.name{
    background-color: #868989;
}

.Name{
    padding-left: 60px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #566573  ;

}