<div class="fondo1">
  <app-general-header></app-general-header>

  <div class="row">
    <div class="col-md-3"></div>
<p style="size: 25px;" align="center" class="Name col-md-4">ALARMS</p> 
<div class="col-md-5"></div>
</div>
  
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#" routerLink="/Systems/Devices">Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" routerLink="/Systems/Alarms">Alarms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#" routerLink="/Systems/AlarmsHistory">Alarms History</a>
      </li>
  </ul>
  <div class="blankspace"> </div>
  
  <table class="table table-bordered">
  <thead>
    <tr class="name">
      <th scope="col">Status</th>
      <th scope="col">Device Name</th>
      <th scope="col">Name</th>
      <th scope="col">Severity</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listalarms">
      <th class="img"  *ngIf="data.active === false" >Normal</th>
      <th class="imgfalse"  *ngIf="data.active === true" >Active</th>
      <td>{{data.deviceName}}</td>
      <td>{{data.name}}</td>
      <td *ngIf="data.severity === 0">Indeterminate</td>
      <td *ngIf="data.severity === 1">Critical</td>
      <td *ngIf="data.severity === 2">Major</td>
      <td *ngIf="data.severity === 3">Minor</td>
      <td *ngIf="data.severity === 4">Warning</td>
      <td *ngIf="data.severity === 5">Information</td>
      <td>{{data.timestamp |date:"MM/dd/yyyy 'at' h:mma"}}</td>
    </tr>
  </tbody>
 
</table>
<button type="button" (click)="exportToExcel(table)" class="btn btn-info  btn-lg">Download data as file</button>
<div class="blankspace2"> </div>
