.nav-tabs{
    background-color: #F2F3F4;
    padding-left: 15px !important;
   
}

.blankspace2{
    height: 100px ;
}

.table{
    
    font-family: Arial, Helvetica, sans-serif;
    color:#283747;
}

.imgfalse{
    background-color:#F35F68;
}

.name{
    background-color: #868989;
}

.Name{
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #566573  ;

}


@media (min-width:1100px)  {
   .Name{
    font-size: 20px;
   }
   .nav-tabs{
    font-size: 15px;
   }
   .table{
    font-size: 13px;
   }
   .boton{
    font-size: 13px;
}
  }
  
  @media (min-width:768px)  {
    .Name{
        font-size: 20px;
       }
       .nav-tabs{
        font-size: 15px;
       }
       .table{
        font-size: 13px;
       }
       .boton{
        font-size: 13px;
    }
  }
  @media (max-width:767px)  {
    .Name{
        font-size: 15px;
       }
       .nav-tabs{
        font-size: 13px;
       }
       .table{
        font-size: 7px;
       }
       .boton{
           font-size: 13px;
       }
  
  }
  @media (max-width:468px)  {
    
    .Name{
        font-size: 15px;
       }
       .nav-tabs{
        font-size: 13px;
       }
       .table{
        font-size: 7px;
       }
       .boton{
        font-size: 13px;
    }
  }