<div class="fondo1">
  <app-general-header></app-general-header>
  <p style="size: 25px;" align="center" class="Name"></p> 
  <div class="blankspace"> </div>
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#" routerLink="/Main">Systems</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" routerLink="/Alarms">Alarms</a>
    </li>
  </ul>
  <div class="blankspace"> </div>
  
  <table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">Active</th>
      <th scope="col">Status</th>
      <th scope="col">Device Name</th>
      <th scope="col">Value</th>
      <th scope="col">Name</th>
      <th scope="col">Severity</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Trigger Origin</th>
      <th scope="col">Alarm History</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td  style="cursor:pointer" class="cursor" routerLink="/AlarmsHistory" ><u style="cursor:pointer" style="color:blue;">GO</u></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
    </tr>
  
  </tbody>
</table>

<div class="blankspace2"> </div>
