<!-- LOGIN WITH BOOSTRAP-->
<nav class="navbar navbar-light bg-light fixed-top">
  <p></p>
  <br>
</nav>
<div class="blankspace">
  
</div>
<div class="row">
  <div class="container">
<div class="row">
      <h2 class="col-md-8">GuntnerServices</h2>
      <div class="col-md-4">
              <img style="width:35%;" src="assets/images/Guntner-logo.png" alt="">
      </div>
      
</div>
  
      <div class="row">
          <div class="col-md-12">
              <p></p>
          </div>
              <div class="col-md-3"></div>
              <div class="card col-md-6">
                      <div class="card-header">
                          Login
                      </div>
                      <div class="card-body">
                          <blockquote class="blockquote mb-0">
                              <div class="row">
                                  <div class="row col-md-12">
                                      <label for="formGroupExampleInput" class="col-md-4">Username:</label>
                                      <input type="text" class="form-control col-md-8" id="formGroupExampleInput" placeholder="Ingresa Username">
                                  </div>
                                  <div class="col-md-12">
<p></p>
                                  </div>
                                  <div class="row col-md-12">
                                      <label for="inputPassword" class="col-md-4">Password</label>
                                      <input type="password" class="form-control col-md-8" id="inputPassword" placeholder="Password">
                                  </div>
                              </div>
                              <br>
                             <p align="center"><button type="submit" class="btn btn-primary mb-2">Sign In</button></p> 

                          </blockquote>
                      </div>
                  </div>
                  <div class="col-md-3"></div>
      </div>

  </div>
</div>

<div class="card-footer bg-light fixed-bottom"> 
<ul align="right" style="list-style:none;">
  <li>Facebook</li>
  <li>Youtube</li>
  <li>Contacto</li>
</ul>
<p align="right"> &copy; 2018 Copyright Guntner de Mexico</p> 
</div>
