
.fondo1{
    background-color: #fefefa ;
}
.blankspacelogin{
    height: 5px !important ;
}

.col-md-4{
    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    color: #595959;

}

.cardheader {
margin: 3px;   
font-family: 'fantasy' !important;
}

.Center{
padding-left: 15px;

}

.card, .card-header{
    background-color: transparent !important;
    border: 0;
}
.blankspacelogin2{
    height: 45px !important ;
}