
.fondo{
    background-color: #EDEEEE;
}
.blankspacelogin{
    height: 5px ;
}

.col-md-4{
    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    color: #595959;

}

.cardheader {
margin: 3px;   

}

